.navbar-brand {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar-nav li {
  padding: 20px;
}
.kull {
  font-weight: bold;
  font-family: cursive;

}
.search {
  text-align: center;
  margin-top: 50px;
}

input {
  width: 85% !important;
  border-radius: 8px !important;
  margin: 0 auto;
  display: block;
}


.models img {
    width: 100%;
    border-radius: 15px;
}

.padding {
    margin: 50px 0;
}

.bmi p {
    padding: 10px
  }
  
  .bmi {
    display: flex;
    padding: 7px;
    margin-left: -12px;
  }
  
  
  .marie {
   width: 100%;
   height: 60% !important;
  }

  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    text-align: center;
    
   
}

ul {
    display: flex;
    
}
.fa-circle {
    font-size: 12px;
    color: #804DEA;;
}


.footer-nav ul li{
  padding: 2px;
   list-style-type: none;
   font-size: 12px;

}
h6 {
  font-size: 8px;
}

.social ul {
    display: flex;
}

.social ul li {
    list-style-type: none;
    margin-left: 8px;
    font-size:15px;

}

@media (min-width: 375px) {
    .search-model {
        text-align: center;
       

    }
  footer ul li{
      margin-left: 6px;
      list-style-type: none;
      padding: 3px;
   
   }

    .models img{
        padding-bottom: 40px;
        width: 80%;
        margin: 0 auto;
        display: block;
    }


    .card {
        margin-bottom: 40px;
        border-radius: 15px;
        background-color: #f8f4f4;
    }
}

